<!--
  --  The login form
  -->

<img id="logo" src="img/koompi-wifi-logo.png" alt="" />
<img id="profile" src="img/undraw_profile_pic_ic5t.png" alt=""></img>


<div id="login-form">

<table>

<tr>
  <input id="user"  name="username" type="text" VALUE="$FORM_username" placeholder="User Name"/>
</tr>

<tr>
  <input id="password" name="password" type="password" VALUE="$FORM_password" placeholder="Password"/>
</tr>

<tr>
  <btn colspan="2" nowrap align="center">
    <input id="submit" type="submit" name="button" value="LOGIN">
  </btn>

</tr>

</table>
<p><a href="http://register.koompi.org">Registaion</a></p>

</div>
