*{
   padding: 0;
   margin: 0;
   box-sizeing: border-box;
}

p { 
  color: #333; 
  font: 400 0.8em verdana,arial,sans-serif;
}

body {
   height: 100%;
   width: auto;
   padding: 0px;
   text-align: center;
   font: 400 0.8em verdana,arial,sans-serif;
   line-height: 170%;
   background: #6190E8;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   color: #333;

}

table {
   margin: auto;
}

tdl {
   color: #333;
   font: 400 0.8em verdana,arial,sans-serif;
   padding: 3px;
   border: 2px solid rgba(121,80,242,1);
   border-radius:20px
}

btn {
   color: #333;
   font: 400 0.8em verdana,arial,sans-serif;
   padding: 3px;
}

li {
   color: #333;
   font: 400 0.8em verdana,arial,sans-serif;
   padding: 3px 0 3px 0;
}

h1 {
   color: #18418c;
   font-size: 200%;
   text-align: center;
}

h3 {
   color: black;
}

#user {
  width: 80%;
  height: 35px;
  grid-row-start: 6/10;
  grid-row-end: 7/10;
  text-align: center !important;
  border: 1px solid rgba(121, 80, 242, 1);
  border-radius: 17px;
  margin: 2% auto;
  outline: none;
}

#password {
  width: 80%;
  height: 35px;
  grid-row-start: 7/10;
  grid-row-end: 8/10;
  text-align: center !important;
  border: 1px solid rgba(121, 80, 242, 1);
  border-radius: 17px;
  margin: 2% auto;
  outline: none;
}

#submit {
  width: 30%;
  height: 40px;
  grid-row-start: 8/10;
  grid-row-end: 9/10;
  text-align: center !important;
  border: none;
  border-radius: 20px;
  background: rgba(121, 80, 242, 1);
  color: #ffffff;
  font-weight: bold;
  transition: ease-in-out 200ms;
  margin: 4% auto;
  outline: none;
}

#signup {
  width: 30%;
  height: 40px;
  grid-row-start: 8/10;
  grid-row-end: 9/10;
  text-align: center !important;
  border: none;
  border-radius: 20px;
  background: rgba(121, 80, 242, 1);
  color: #ffffff;
  font-weight: bold;
  transition: ease-in-out 200ms;
  margin: 4% auto;
  outline: none;
}

#logo{
   height: 67px;
}

#profile{
  height: 110px;
}

#login, #contact, #register, #map {
   padding-bottom: 15px;
   width: 80%;
   margin: auto;
   text-align: center;
}

#map {
   width: 100%;
}

#login_form, #contact_form, #register_form {
   width: 320px;
   margin: auto;
   height: 440px;
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.5) 15px 15px 80px -30px;
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 20px;
   align-items: center;
   justify-items: center;
}

#header {
   width: 100%;
   margin: auto;
   height: 80px;
   line-height: 80px;
   vertical-align: center;
   text-align: middle;
   padding-top: 4%;

}

#body {
   clear: both;
   width: 88%;
   margin: auto;
}
#footer { 
   color: #666;
   font-size: 60%;
   clear: both;
   padding-top: 20px;
   margin: auto;
   text-align: center;
}
#terms {
   text-align: left;
   margin: auto;
}

#openid_url {
  background: url(openid.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}
#openid-label,#login-label {
  font-size: smaller;
  line-height: 14px;
  vertical-align: middle;
}
.err{
   font-weight: bold;
   color: #000;
   width: 70%;
   margin: 0px auto 10px auto;
}

