<!--
  --  The login form
  -->
<!--
<img id="logo" src="img/koompi-wifi-logo.png" alt="" />
-->
<!--
<h1 class="header-login">ចូលទៅគណនីរបស់ខ្ញុំ</h1>
-->
<img id="profile" src="img/undraw_profile_pic_ic5t.png" alt=""></img>


<div id="login-form">

<table>

<tr>
  <input id="user"  name="username" type="text" VALUE="$FORM_username" placeholder="ឈ្មោះ ឬ អ៊ីមែល"/>
</tr>

<tr>
  <input id="password" name="password" type="password" VALUE="$FORM_password" placeholder="ពាក្យសម្ងាត់"/></br>
</tr>

<tr>
<a id="login-from-forgetpassword" href="http://register.koompi.org">ភ្លេចពាក្យសម្ងាត់</a>
</tr>

<tr>
  <btn colspan="2" nowrap align="center">
    <input id="submit" type="submit" name="button" value="រួចរាល់">
  </btn> 
</tr>

<tr>
<div id="new-account">
    <p>មិនទាន់មានគណនី? <a href="http://register.koompi.org">បង្កើតគណនីថ្មី</a></p>
</div>
</tr>

<tr>
<div class="K-1uj Z7p_S">
   <div class="s311c"></div>
      <div class="_0tv-g">
         ឬ  
      </div>
   <div class="s311c"></div>
</div>
</tr>

<tr>
<div id="join-menu">
    <p><a href="http://world.koompi.pi">ចូលមីនុយគេហទំព័រ</a></p>
</div>
</tr>

</table>

</div>
